@import './base/typography';
@import './base/home';
@import './base/reset';

@import './components/card.scss';
@import './components/calendar.scss';
@import './components/mobile_calendar.scss';

body {
    background-color: #1d201f;
}
.app {
    height: 100%;
}

.page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gap {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}