.card-page {
    &--card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e07a5f;
        padding: 5%;
    }
}

.hidden {
    display: none !important;
}