.card-page {
    &--card {
        font-size: 1.35rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1f363d;
        padding: 5%;
    }
}


.hidden {
    display: none !important;
}

.react-tiny-popover-container {
    width: 35rem;
}