.container {
    font-size: 2rem;
    padding: 5%;
    
    &_header {
        display: flex;
        &-events {
            margin-left: 15%;
        }
    }
    &_body {
        &-wrapper {
            display: flex;
            scroll-margin-top: 10px;
            width: 100%;
            &-anime {
                width: 70%;
                margin-left: 7.5%;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            &-date {
                border-right: 1px solid;
                padding-right: 3.5%;
                width: 10%;
                position: relative;
                display: flex;
                justify-content: center;

                &-active:after {
                    content: url("../../assets/active.svg");
                    position: absolute;
                    width: 10px;
                    top: -3%;
                    left: 75%;
                }
                
                &-inactive:after {
                    content: url('../../assets/inactive.svg');
                    position: absolute;
                    width: 10px;
                    top: -3%;
                    left: 75%;
                    // margin-left: -5px;
                }
            }
        }
        
    }
}