@import '../utils/variables';
.room {
    display: flex;
    flex-direction: column;
    height: 95%;
    align-items: center;
    gap: 1.5rem;
    
    &--title {
        font-size: 4rem;
        color: #274C77;
    }
    
    &--buttons {
        display: flex;
        gap: 4rem;
        position: relative;

        &-like {
            background-color: red;
            border: 2px black solid;
            cursor: pointer;
            border-radius: 50%;
            width: 9rem;
            height: 9rem;
        }
        &-dislike {
            background-color: white;
            border: 2px black solid;
            cursor: pointer;
            border-radius: 50%;
            width: 9rem;
            height: 9rem;
        }
    }
}
